<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="panel">
    <h3>Billing information</h3>
        <%= form.label :invoice_no %><br />
        <%= form.text_field :invoice_no, :size => 25, :disabled => (mode.eql? "edit") %><br />
        <%= form.label :invoice_amount %><br />
        <%= form.text_field :invoice_amount, :size => 25, :disabled => (mode.eql? "edit") %><br />
        <%= form.label :invoice_due_date %><br />
        <%= form.date_select :invoice_due_date,:prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year'}, :disabled => (mode.eql? "edit") %><br />
        <%= form.label :invoice_dispatch_date %><br />
        <%= form.date_select :invoice_dispatch_date,:prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year'} %><br />
</div>

<% if mode.eql? "edit" %>
<br />
<div id="panel">
  <a name="paymentdetails"></a>
  <h3>Payment information</h3>
        <%= form.label :paid %>
        <%= form.select :paid, [ ["No",false] , ["Yes",true]], :include_blank => "Please Select" %><br />
        <%= form.label :payment_details %><br />
        <%= form.text_area :payment_details, :rows => 3, :columns => 15 %><br />
</div>
<% end %>
<br />
<div id="panel">
  <h3>Misc. information</h3>
        <%= form.label :notes %><br />
        <%= form.text_area :notes, :rows => 7, :columns => 15 %><br />
</div>
