<% if order.billing_enabled? && billedorder.nil? && order.enable_tab_controls? %>
    <%= link_to 'Add Billing information', new_order_billed_order_path(order), :class => "newbutton" %>
<% elsif order.billing_enabled? && billedorder %>

    <% if !billedorder.approved? &&  order.enable_tab_controls? %>
        <span id="toolbar" class="ui-widget-header ui-corner-all">
              <%= link_to 'Edit', edit_order_billed_order_path(order,billedorder), :class => "editbutton" %>
              <%= link_to 'Update Payment Info', edit_order_billed_order_path(order,billedorder, :anchor => "paymentdetails"), :class => "editbutton" %>
              <%= link_to 'Lock', lock_order_billed_order_path(order,billedorder), :class => "approvebutton" %>
        </span>
    <% end %>

    <table class="info">
      <tbody>
       <tr>
            <td class="field"> Invoice no.:</td> <td>
            <%=h billedorder.invoice_no %>
            </td>
        </tr>
       <tr>
            <td class="field"> Invoice amount:</td> <td>
            <%=h billedorder.invoice_amount %>
            </td>
        </tr>
        <tr>
            <td class="field"> Invoice due date:</td> <td>
            <%=h billedorder.invoice_due_date.to_s(:long_ordinal) %>
            </td>
        </tr>
        <tr>
            <td class="field"> Invoice dispatch date:</td> <td>
            <%=h billedorder.invoice_dispatch_date.to_s(:long_ordinal) if !billedorder.invoice_dispatch_date.nil? %>
            </td>
        </tr>
        <tr>
            <td class="field"> Payment received:</td> <td>
            <% if billedorder.paid? %> Yes <% else %> No <% end %>
            </td>
        </tr>
         <tr>
            <td class="field"> Payment details:</td> <td>
            <%=h billedorder.payment_details %>
            </td>
        </tr>
        <tr>
            <td class="field"> Notes:</td> <td>
            <%=h billedorder.notes %>
            </td>
        </tr>
      </tbody>
    </table>

<% end %>

<%= render :partial => 'shared/timestampfooter', :locals => {:order => billedorder} %>