<h1>Editing order_status</h1>

<% form_for(@order_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </p>
  <p>
    <%= f.label :status_id %><br />
    <%= f.text_field :status_id %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @order_status %> |
<%= link_to 'Back', order_statuses_path %>