<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h3>Customer Contacts:</h3>

<% unless contacts.empty? %>
    <ol class="sublisting">
      <% contacts.each do |custcontact| %>
      <li>
              <%= link_to_function "#{custcontact.display_name}","new Effect.toggle( 'details#{custcontact.id}',  'blind' )" %> <br/>
              <div id="details<%= custcontact.id %>" style="display:none;" class="dropdowndetails">
                <div>
                    <b>Position: </b> <%=h custcontact.position %> <br/>
                    <b>Department:</b> <%=h custcontact.department %><br/>
                    <b>Phone Number 1:</b> <%=h custcontact.phone1 %><br/>
                    <b>Phone Number 2:</b> <%=h custcontact.phone2 %><br/>
                    <b>Email:</b> <%=h custcontact.email %><br/>
                    <b>Fax:</b> <%=h custcontact.fax %><br/><br/>
                    <%= link_to 'Edit', edit_custaccount_custcontact_path(custaccount,custcontact), :class => "edit" %> |
                    <%= link_to 'Delete', custaccount_custcontact_path(custaccount,custcontact), :confirm => 'Are you sure?', :method => :delete, :class => "delete" %> |
                    <%= link_to_function "Hide","new Effect.toggle( 'details#{custcontact.id}',  'blind' )", :class => "cancel" %> |
                 </div>
              </div>
      </li>
      <% end %>
    </ol>
<%  else %>
  0 contact(s) found.
<% end %>


