<%= link_to 'Cancel', @custaccount, :class => "closebutton", :style => "float:right;" %>

<h1>Editing Customer Account information</h1>

<% form_for(@custaccount) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "edit"}%>
  <br/>
  <%= f.submit 'Update Account Information', :class => "savebutton" %>
  <%= link_to 'Cancel', @custaccount, :method => 'get', :class => "closebutton" %>
<% end %>