<% render :partial =>  'sidebar' %>

<%= link_to 'Back', url_for(:controller => "contacts", :action => "index"), :style => "float:right;" %>
<h1>Customer Accounts</h1>
<%=  render :partial => 'custfilter' %>
<br/>

<table class="listing">
  <thead>
      <tr class="header">
        <th>Id</th>
        <th>  <%= sort_link 'Account Name', :company_name %>  <%= sort_flag :company_name %>  </th>
      </tr>
  </thead>
  <tbody>
      <% @custaccounts.each do |cust| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td><%=h link_to cust.id,cust %></td>
        <td><%=h cust.company_name %></td>
      </tr>
      <% end %>
  </tbody>
</table>


 <div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @custaccounts %>
  </div>
  <%= will_paginate @custaccounts, :container => false %>
</div>





