<%= link_to 'Cancel', custaccounts_path, :class => "closebutton", :style => "float:right;" %>
<h1>Add a new customer account</h1>

<% form_for(@custaccount) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "new"} %>
  <br />
  <%= f.submit 'Add Customer Account', :class => "savebutton" %>
  <%= link_to 'Cancel', custaccounts_path, :method => 'get', :class => "closebutton"%>

<% end %>