<div id="controls">
    <%= link_to 'Cancel', custaccounts_path, :class => "cancel" %>
</div>

<h1>Add a new customer account</h1>

<% form_for(@custaccount) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "new"} %>

  <%= f.submit 'Add Customer Account' %>
  <%= link_to 'Cancel', custaccounts_path, :method => 'get'%>

<% end %>