<span id="toolbar" class="ui-widget-header ui-corner-all">
    <%=  global_print_link() %>
    <% if permitted_to? :edit, @custaccount %>
      <%= link_to 'Edit', edit_custaccount_path(@custaccount), :class => "editbutton" %>
    <% end %>
    <% if permitted_to? :destroy, @custaccount %>
      <%= link_to "Delete", @custaccount, :class => "deletebutton", :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    <% if permitted_to? :new, :contacts %>
      <%= link_to 'Add a contact', new_custaccount_contact_path(@custaccount), :class => "newbutton" %>
    <% end %>
    <%= link_to 'Back', custaccounts_path, :class => "backbutton" %>
</span> 


<h2>Customer Account Information</h2><br/>
<table class="info">
  <tbody>
    <tr>
        <td class="field"> Account Name:</td> <td>
        <%=h @custaccount.company_name %></td>
    </tr>
    <tr>
        <td class="field"> Address:</td> <td>
        <%=h @custaccount.address %></td>
    </tr>
    <tr>
        <td class="field"> City:</td> <td>
        <%=h @custaccount.city %></td>
    </tr>
    <tr>
        <td class="field"> State:</td><td>
        <%=h @custaccount.state %></td>
    </tr>
    <tr>
        <td class="field"> Country:</td><td>
        <%=h @custaccount.country %></td>
    </tr>
    <tr>
        <td class="field"> Postal Code:</td><td>
        <%=h @custaccount.postal_code %></td>
    </tr>
    <tr>
        <td class="field"> Phone Number 1:</td><td>
        <%=h @custaccount.phone1 %></td>
    </tr>
    <tr>
        <td class="field"> Phone Number 2:</td><td>
        <%=h @custaccount.phone2 %></td>
    </tr>
    <tr>
        <td class="field"> Email:</td><td>
        <%=h @custaccount.email %></td>
    </tr>
    <tr>
        <td class="field"> Fax Number:</td><td>
        <%=h @custaccount.fax %></td>
    </tr>
    <tr>
        <td class="field"> Website:</td><td>
        <%=h @custaccount.website %></td>
    </tr>

  </tbody>  
</table>

<%= render :partial => 'contacts', :object => @custaccount.contacts, :locals => { :custaccount => @custaccount} %>

