<div id="panel">
  <h3> Branch Details </h3>
  <p>
    <%= form.label :name, "Name" %><br />
    <%= form.text_field :name, :size => 50, :maxlength => 50 %>
  </p>
  <p>
    <%= form.label :address, "Address" %><br />
    <%= form.text_area :address, :cols => 25, :rows => 3, :maxlength => 100   %>
  </p>
  <p>
    <%= form.label :city, "City" %><br />
    <%= form.text_field :city, :size => 25, :maxlength => 25 %>
  </p>
  <p>
    <%= form.label :state, "State"  %><br />
    <%= form.text_field :state, :size => 50, :maxlength => 50 %>
  </p>
  <p>
    <%= form.label :country, "Country"  %><br />
    <%= form.text_field :country, :size => 50, :maxlength => 50 %>
  </p>
  <p>
    <%= form.label :phone1, "Phone Number 1" %><br />
    <%= form.text_field :phone1, :size => 25, :maxlength => 25 %>
  </p>
  <p>
    <%= form.label :phone2, "Phone Number 2" %><br />
    <%= form.text_field :phone2, :size => 25, :maxlength => 25 %>
  </p>
  <p>
    <%= form.label :notes, "Notes" %><br />
    <%= form.text_area :notes, :cols => 25, :rows => 3, :maxlength => 100   %>
  </p>
</div>
