<span id="toolbar" class="ui-widget-header ui-corner-all">
    <%=  global_print_link() %>
    <% if permitted_to? :edit, @branch %>
      <%= link_to 'Edit', edit_branch_path(@branch), :class => "editbutton" %>
    <% end %>
    <% if permitted_to? :destroy, @branch %>
      <%= link_to "Delete", @branch, :class => "deletebutton", :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    <%= link_to 'Back', branches_path, :class => "backbutton" %>
</span>

<h2>Branch information</h2>


<table class="info">
  <tbody>
    <tr>
        <td class="field"> Branch Name:</td> <td>
        <%=h @branch.name %></td>
    </tr>
    <tr>
        <td class="field"> Address:</td> <td>
        <%=h @branch.address %></td>
    </tr>
    <tr>
        <td class="field"> City:</td> <td>
        <%=h @branch.city %></td>
    </tr>
    <tr>
        <td class="field"> State:</td><td>
        <%=h @branch.state %></td>
    </tr>
    <tr>
        <td class="field"> Country:</td><td>
        <%=h @branch.country %></td>
    </tr>
    <tr>
        <td class="field"> Phone Number 1:</td><td>
        <%=h @branch.phone1 %></td>
    </tr>
    <tr>
        <td class="field"> Phone Number 2:</td><td>
        <%=h @branch.phone2 %></td>
    </tr>
    <tr>
        <td class="field"> Notes:</td><td>
        <%=h @branch.notes %></td>
    </tr>
  </tbody>
</table>


