<% render :partial => '/shared/sidebar/accounts' %>

<div id="controls">
    <%= link_to 'Cancel', @custaccount, :class => "cancel" %>
</div>

<h1>Add a new contact for <%= @custaccount.display_name  %>  </h1>

<% form_for [@custaccount,@custcontact] do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "new"} %>

  <%= f.submit 'Add Customer Contact' %>
  <%= link_to 'Cancel', @custaccount, :method => 'get'%>

<% end %>

