<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>

  <% tabs_tag :open_tabs => { :id => "secondtabs" }, :namespace => :adminmenu do |tab| %>
    <div>
      <h3>Master Tables</h3>
      <%= tab.vehicle 'Vehicle Types', makes_path %>
      <%= tab.producttypes 'Product Types', product_types_path %>
      <%= tab.productunits   'Product Units', product_units_path %>
      <%= tab.detention 'Detention Reasons',  detention_reasons_path %>

      <% if permitted_to? :index, :order_status_types %>
        <%= tab.orderstatus 'Order Status Types',  order_status_types_path %>
      <% end %>
      <% if permitted_to? :index, :roles %>
        <%= tab.roles 'User Role Types', roles_path %>
      <% end %>
      <% if permitted_to? :index, :fuel_payment_types %>
        <%= tab.fuel 'Fuel Payment Types', fuel_payment_types_path %>
      <% end %>
    </div>
    <br/>
    <div>
      <h3>Users</h3>
      <%= tab.user 'Manage/Privilege', users_path %>
    </div>
    <% end %>

<% end %>
