<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div class="right-container">
  <h3>Master Tables</h3>
  <%=h link_to 'Vehicles Types', makes_path, :class => "viewbutton" %> <br/>
  <%=h link_to 'Product types', product_types_path,  :class => "viewbutton" %> <br/>
  <%=h link_to 'Product units', product_units_path,  :class => "viewbutton" %> <br/>
  <%=h link_to 'Detention Reasons', detention_reasons_path,  :class => "viewbutton" %> <br/>
  <% if permitted_to? :index, :order_status_types %>
    <%=h link_to 'Order Status Codes', order_status_types_path,  :class => "viewbutton" %> <br/>
  <% end %>
  <% if permitted_to? :index, :roles %>
    <%=h link_to 'User Role Types', roles_path,  :class => "viewbutton" %> <br/>
  <% end %>
</div>
<br/>
<div class="right-container">
  <h3>Users</h3>
  <%=h link_to 'Manage/Privilege', users_path, :class => "viewbutton" %> <br/>
</div>
<% end %>
