<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div class="right-container">
  Manage: <br/>
  <%= button_to 'Customer Accounts', custaccounts_path, :method => :get, :class => "button" %>
  <%= button_to 'Consignors', consignors_path, :method => :get, :class => "button" %>
  <%= button_to 'Consignees', consignees_path, :method => :get, :class => "button" %>
</div> 
<div class="right-container">
  Add a: <br/>
  <%= button_to 'New Account', new_custaccount_path, :method => :get, :class => "button" %>
  <%= button_to 'New Consignor', new_consignor_path, :method => :get, :class => "button" %>
  <%= button_to 'New Consignee', new_consignee_path, :method => :get, :class => "button" %>
</div>
<% end %>
