<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<table class="listing">
  <thead>
     <th>File</th>
     <th>Uploaded by</th>
     <th>Uploaded on</th>
     <th>View </th>
     <th>Remove</th>
  </thead>
  <tbody>
      <% attachments.each do |attachment| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= attachment.uploadedfile.original_filename  %></td>
        <td><%= attachment.username %></td>
        <td><%= attachment.created_at  %></td>
        <td> <%= link_to "View",attachment_box_url(attachment) %></td>
        <td><%= link_to "Remove", attachment_box_url(attachment), :method => :delete%></td>
      </tr>
      <% end %>
  </tbody>
</table>