<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="searchpanel">
<% form_for @search, :url => orders_path do |f| %>

  <div class="span-9">
  <%= f.label "Sort results by" %>
  <%= select_tag :order_by,
               options_for_select([["date entered on", "created_at DESC"],
               ["date placed on", "placement_date_time DESC"]] ) %> <br/>

  <%= f.label :custaccount_id_equals, "Customer" %>
  <%= f.collection_select :custaccount_id_equals, Custaccount.all(:order => "company_name"), :id, :company_name, :include_blank => "All" %><br/>
  <%= f.label :consignor_id_equals, "Consignor" %> 
  <%= f.collection_select :consignor_id_equals, Consignor.all(:order => "consignor_name"), :id, :consignor_name, :include_blank => "All" %><br/>
  <%= f.label :consignee_id_equals, "Consignee" %> 
  <%= f.collection_select :consignee_id_equals, Consignee.all(:order => "consignee_name"), :id, :consignee_name, :include_blank => "All" %><br/>
  <%= f.label :product_type_id_equals, "Product" %> 
  <%= f.collection_select :product_type_id_equals, ProductType.all(:order => "product_type_name"), :id, :product_type_name, :include_blank => "All" %><br/>
  </div>

  <div class="span-9 last">
    <%= render :partial => "statusfilter", :locals => {:f => f} %>
  </div>

  <br/>
  <%= link_to_function "Advanced Search","$j('#advancedsearch').toggle('drop',[],'slow')", :class => "toggle" %> <br/>
  <div class="span-19 last" id="advancedsearch" style="display:none;">

  <%= f.label :start, "Order Entered between" %>
  <%= f.date_select :created_at_gte, :include_blank => true, :use_short_month => true  %>
  <%= f.label :end, "and" %>
  <%= f.date_select :created_at_lte, :include_blank => true, :use_short_month => true  %><br/>
  <%= f.label :start, "Order Placed between" %>
  <%= f.date_select :placement_date_time_gte, :include_blank => true, :use_short_month => true  %>
  <%= f.label :end, "and" %>
  <%= f.date_select :placement_date_time_lte, :include_blank => true, :use_short_month => true  %><br/>
  <%= f.label :start, "Order Loaded between" %>
  <%= f.date_select :loaded_order_loading_date_gte, :include_blank => true, :use_short_month => true  %>
  <%= f.label :end, "and" %>
  <%= f.date_select :loaded_order_loading_date_lte, :include_blank => true,:use_short_month => true  %><br/>
  <%= f.label :start, "Order Delivered between" %>
  <%= f.date_select :delivered_order_delivery_date_gte, :include_blank => true, :use_short_month => true  %>
  <%= f.label :end, "and" %>
  <%= f.date_select :delivered_order_delivery_date_lte, :include_blank => true,:use_short_month => true  %><br/>

  <%= f.label :loaded_order_lorry_receipt_no_like, "L/R number" %>
  <%= f.text_field :loaded_order_lorry_receipt_no_like, :size => 15, :maxlength => 25  %><br/>

  <%= f.label :billed_order_invoice_no_like, "Invoice no." %>
  <%= f.text_field :billed_order_invoice_no_like, :size => 15, :maxlength => 25  %> <br/>
  <%= f.label :invoice_due_date_equals, "Invoice due date" %>
  <%= f.date_select :billed_order_invoice_due_date_gte, :include_blank => true, :use_short_month => true  %> <br/>


  <%= f.label :loaded_order_vehicle_id_or_planned_order_vehicle_id_equals, "Vehicle" %>
  <%= f.collection_select :loaded_order_vehicle_id_equals, Vehicle.all(:order => "registration_number"), :id, :registration_number, :include_blank => "All" %><br/>

  </div>
  <br/>
  <%= f.submit "Search Orders" %>
<% end %>
</div>
