<%= link_to 'Cancel', orders_path, :class => "closebutton", :style => "float:right;" %>

<h1>Enter new order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <%=  render :partial => 'form', :object => f,:locals => { :mode => "new"} %>
  <br />
    <%= f.submit 'Save', :class => 'savebutton' %>
    <%= link_to 'Cancel', orders_path, :class => "closebutton" %>
<% end %>