<div id="panel">
  <h3>Basic Details</h3>
  <p>
    <%= form.label :first_name, "First Name" %><br />
    <%= form.text_field :first_name, :size => 25, :maxlength => 25 %>
  </p>
  <p>
    <%= form.label :last_name, "Last Name" %><br />
    <%= form.text_field :last_name, :size => 25, :maxlength => 25 %>
  </p>
  <p>
    <%= form.label :position, "Position" %><br />
    <%= form.text_field :position, :size => 25, :maxlength => 25 %>
  </p>
  <p>
    <%= form.label :department, "Department" %><br />
    <%= form.text_field :department, :size => 25, :maxlength => 25 %>
  </p>
</div>
<div id="panel">
  <h3>Contact Information</h3>
  <p>
    <%= form.label :phone1, "Phone Number 1" %><br />
    <%= form.text_field :phone1 %>
  </p>
  <p>
    <%= form.label :phone2, "Phone Number 2" %><br />
    <%= form.text_field :phone2 %>
  </p>
  <p>
    <%= form.label :email, "Email Address" %><br />
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :fax, "Fax Number" %><br />
    <%= form.text_field :fax %>
  </p>
</div>

