<div>
  <%=h @no_of_customers %> Customers <br/>
  <% if permitted_to? :index, Custaccount.new %>
    <%= link_to 'Show',custaccounts_path  %><br/>
  <% end %>
  <% if permitted_to? :new, Custaccount.new %>
    <%= link_to 'New',new_custaccount_path  %>
  <% end %>
</div>
<br />
<div>
  <%=h @no_of_consignors %> Consignors <br/>
  <% if permitted_to? :index, Consignor.new %>
    <%= link_to 'Show',consignors_path  %><br/>
  <% end %>
  <% if permitted_to? :new, Consignor.new %>
    <%= link_to 'New',new_consignor_path  %>
  <% end %>
</div>
<br />
<div>
  <%=h @no_of_consignees %> Consignees <br/>
  <% if permitted_to? :index, Consignee.new %>
    <%= link_to 'Show',consignees_path  %><br/>
  <% end %>
  <% if permitted_to? :new, Consignee.new %>
    <%= link_to 'New',new_consignee_path  %>
  <% end %>
</div>
