<%= link_to 'Cancel', order_path(@order), :class => "closebutton", :style => "float:right;" %>
<h1>Enter new detention entry for Order #<%= @order.id %> </h1>

<%= render :partial => "shared/orders/ordersnapshot", :locals => { :order => @order} %>

<% form_for [@order,@detention] do |form| %>
  <%= form.error_messages %>
  <% fields_for @detention do |f| %>
    <%= render :partial => "form", :object => f, :locals => { :mode => "new"} %>
  <% end %>
  <br />
    <%= form.submit 'Save', :class => "newbutton" %>
    <%= link_to 'Cancel', order_path(@order), :class => "closebutton"%>
<% end %>
