<%= link_to 'Cancel', petrol_pumps_path, :class => "closebutton", :style => "float:right;" %>
<h1>Add a new branch</h1>

<% form_for(@petrol_pump) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "new"} %>

  <%= f.submit 'Add Petrol Pump', :class => "savebutton" %>
  <%= link_to 'Cancel', petrol_pumps_path, :method => 'get', :class => "closebutton"%>

<% end %>