<% render :partial => '/shared/sidebar/admin' %>

<h1>Order Status Codes</h1>
<br/>
<table class="admin">
  <thead>
      <tr class="header">
        <th>  <%= sort_link 'Description', :description %>  <%= sort_flag :description %>  </th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% unless @order_status_types.empty? -%>
          <% @order_status_types.each do |type| %>
          <tr>
             <td><%=h type.description %></td>
             <td class="invisible"><span>
                  <%= link_to 'Delete', type,:class => "dellink",
                    :confirm => 'Are you sure?',
                    :method => :delete %>
             </span></td>
          </tr>
          <% end %>
      <% end %>
   </tbody>
</table>

 <div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @order_status_types %>
  </div>
  <%= will_paginate @order_status_types, :container => false %>
</div>

<% form_for(OrderStatusType.new) do |f| %>
  <%= error_messages_for :order_status_type%>
  <div id="adminpanel">
      <%= f.label :description, "Order Status Code" %>
      <%= f.text_field :description, :size => 20, :maxlength => 25 %>
      <%= f.submit 'Add', :class => "newbutton" %>
  </div>
<% end %>