<% render :partial => 'sidebar' %>

<h1>Fleet Cards</h1>

<table class="listing">
  <thead>
      <tr class="header">
        <th></th>
        <th>  <%= sort_link 'Name', :name %>  <%= sort_flag :name %>  </th>
      </tr>
  </thead>
  <tbody>
      <% @fleet_cards.each do |fleet_card| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td><%=h link_to fleet_card.id, fleet_card %></td>
        <td><%=h fleet_card.name %></td>
      </tr>
      <% end %>
  </tbody>
</table>


 <div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @fleet_cards %>
  </div>
  <%= will_paginate @fleet_cards, :container => false %>
</div>
