<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h3>Contacts:</h3>

<% unless contacts.empty? %>
    <ol class="sublisting">
      <% contacts.each do |contact| %>
      <li>
              <%= link_to_function "#{contact.display_name}","$j('#details#{contact.id}').toggle('drop',[],'slow')", :class => "viewbutton" %> <br/>
              <div id="details<%= contact.id %>" style="display:none;" class="dropdowndetails">
                <div>
                    <span id="toolbar" class="ui-widget-header ui-corner-all">
                    <%= link_to 'Edit', edit_consignee_contact_path(consignee,contact), :class => "editbutton" %>
                    <%= link_to 'Delete', consignee_contact_path(consignee,contact), :confirm => 'Are you sure?', :method => :delete, :class => "deletebutton" %>
                    <%= link_to_function "Hide","$j('#details#{contact.id}').toggle('drop',[],'slow')", :class => "cancelbutton" %>
                    </span>
                    <b>Position: </b> <%=h contact.position %> <br/>
                    <b>Department:</b> <%=h contact.department %><br/>
                    <b>Phone Number 1:</b> <%=h contact.phone1 %><br/>
                    <b>Phone Number 2:</b> <%=h contact.phone2 %><br/>
                    <b>Email:</b> <%=h contact.email %><br/>
                    <b>Fax:</b> <%=h contact.fax %><br/><br/>
                 </div>
              </div>
      </li> <br/>
      <% end %>
    </ol>
<%  else %>
  0 contact(s) found.
<% end %>


