<%= link_to 'Cancel', @consignee, :class => "closebutton", :style => "float:right;" %>
<h1>Editing Consignee information</h1>

<% form_for(@consignee) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "edit"}%>
  <br />
  <%= f.submit 'Update Consignee Information', :class => "savebutton" %>
  <%= link_to 'Cancel', @consignee, :method => 'get', :class => "closebutton" %>
<% end %>