<% render :partial =>  'sidebar' %>

<%= link_to 'Back', url_for(:controller => "contacts", :action => "index"), :class => "backbutton", :style => "float:right;" %>
<h1>Consignees</h1>
<%=  render :partial => 'consigneefilter' %>
<br/>

<table class="listing">
  <thead>
      <tr class="header">
         <th>Id</th>
        <th>  <%= sort_link 'Consignee Name', :consignee_name %>  <%= sort_flag :consignee_name %>  </th>
      </tr>
  </thead>
  <tbody>
      <% @consignees.each do |consignee| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td><%=h link_to consignee.id, consignee %></td>
        <td><%=h consignee.consignee_name %></td>
      </tr>
      <% end %>
  </tbody>
</table>


 <div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @consignees %>
  </div>
  <%= will_paginate @consignees, :container => false %>
</div>