<%= link_to 'Cancel', consignees_path, :class => "closebutton", :style => "float:right;" %>

<h1>Add a new consignee</h1>

<% form_for(@consignee) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "new"} %>
  <br />
  <%= f.submit 'Add Consignee', :class => "savebutton" %>
  <%= link_to 'Cancel', consignees_path, :method => 'get', :class => "closebutton"%>

<% end %>