<% if order.planning_enabled? && plannedorder.nil? && @order.enable_tab_controls?  %>
  <% if permitted_to? :new, PlannedOrder.new %>
    <%= link_to 'Add Planning information', new_order_planned_order_path(order), :class => "newbutton" %>
  <% end %>
<% elsif order.planning_enabled? && plannedorder %>

    <% if !plannedorder.approved? &&  order.enable_tab_controls? %>
        <span id="toolbar" class="ui-widget-header ui-corner-all">
              <% if permitted_to? :edit, plannedorder %>
                <%= link_to 'Edit', edit_order_planned_order_path(order,plannedorder), :class => "editbutton" %>
              <% end %>
              <% if permitted_to? :lock, plannedorder %>
                <%= link_to 'Lock', lock_order_planned_order_path(order,plannedorder), :class => "approvebutton" %>
              <% end %>
        </span>
    <% end %>

    <table class="info">
      <tbody>
        <tr>
            <td class="field"> Dispatch Date Planned:</td> <td>
            <%=h plannedorder.dispatch_date_planned.to_s(:long_ordinal) if !plannedorder.dispatch_date_planned.blank? %>
            </td>
        </tr>
        <tr>
            <td class="field"> Delivery Date Planned:</td> <td>
            <%=h plannedorder.delivery_date_planned.to_s(:long_ordinal) if !plannedorder.delivery_date_planned.blank? %>
            </td>
        </tr>
        <tr>
            <td class="field"> Vehicle:</td> <td>
              <%=h plannedorder.vehicle.registration_number if plannedorder.vehicle %>
            </td>
        </tr>
        <tr>
            <td class="field"> Notes:</td> <td>
            <%=h plannedorder.notes %>
            </td>
        </tr>
      </tbody>
    </table>

<% end %>

<%= render :partial => 'shared/orders/timestampfooter', :locals => {:order => plannedorder} %>