<%= link_to 'Cancel', @consignor, :class => "closebutton", :style => "float:right;" %>

<h1>Editing Consignor information</h1>

<% form_for(@consignor) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "edit"}%>
  <br />
  <%= f.submit 'Update Consignor Information', :class => "savebutton" %>
  <%= link_to 'Cancel', @consignor, :method => 'get', :class => "closebutton" %>
<% end %>