<% render :partial =>  'sidebar' %>

<%= link_to 'Back', url_for(:controller => "contacts", :action => "index"),  :style => "float:right;" %>
<h1>Consignors</h1>
<%=  render :partial => 'consignorfilter' %>
<br/>

<table class="listing">
  <thead>
      <tr class="header">
        <th>Id</th>
        <th><%= sort_link 'Consignor Name', :consignor_name %>  <%= sort_flag :consignor_name %></th>
      </tr>
  </thead>
  <tbody>
      <% @consignors.each do |consignor| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td><%=h link_to consignor.id, consignor %></td>
         <td><%=h consignor.display_name %> </td>
      </tr>
      <% end %>
  </tbody>
</table>


 <div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @consignors %>
  </div>
  <%= will_paginate @consignors, :container => false %>
</div>