<%= link_to 'Cancel', consignors_path, :class => "closebutton", :style => "float:right;" %>
<h1>Add a new consignor</h1>

<% form_for(@consignor) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "new"} %>

  <%= f.submit 'Add Consignor', :class => "savebutton" %>
  <%= link_to 'Cancel', consignors_path, :method => 'get', :class => "closebutton"%>

<% end %>