<% render :partial => 'sidebar' %>

<div id="controls">
    <%= link_to 'Back', @driver, :class => "back" %>
</div>

  <h1>Attachments for <%=h @driver.display_name %> :</h1>

  <%=  render :partial => "shared/attachments", :object => @driver.attachment_boxes  %>

  <p>
      <% form_for [@driver, AttachmentBox.new], :url => add_attachment_driver_path(@driver),:html => { :multipart => true } do |form| %>
        <%= error_messages_for :attachment %>
        <%= form.file_field :uploadedfile %> <%= form.submit "Upload" %>
      <% end %>
  </p>   
