<%= link_to 'Cancel', @driver, :class => "closebutton", :style => "float:right;" %>

<h1>Editing driver information</h1>

<% form_for(@driver) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f %>
  <br />
  <%= f.submit 'Update Driver Information', :class => "savebutton" %>
  <%= link_to 'Cancel', @driver, :method => 'get', :class => "closebutton" %>
<% end %>


