<% render :partial => 'sidebar' %>

<div id="controls">
    <%= link_to 'Cancel', @driver, :class => "cancel" %>
</div>

<h1>Editing driver information</h1>

<% form_for(@driver) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f %>

  <%= f.submit 'Update Driver Information', :class => "button" %>
  <%= link_to 'Cancel', @driver, :method => 'get' %>
<% end %>


