<% render :partial => 'sidebar' %>

<h1>Drivers</h1>

<%=  render :partial => 'driverfilter' %>
<br/>

<table class="listing">
  <thead>
      <tr class="header">
        <th>Id</th>
        <th>  <%= sort_link 'First Name', :first_name %>  <%= sort_flag :first_name %>  </th>
        <th> <%= sort_link 'Last Name', :last_name %> <%=  sort_flag :last_name %>  </th>
      </tr>
  </thead>
  <tbody>
      <% @drivers.each do |driver| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td><%=h link_to driver.id, driver %></td>
        <td><%=h driver.first_name %></td>
        <td><%=h driver.last_name %></td>
      </tr>
      <% end %>
  </tbody>
</table>


 <div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @drivers %>
  </div>
  <%= will_paginate @drivers, :container => false %>
</div>


