<%= link_to 'Cancel', drivers_path, :class => "closebutton", :style => "float:right" %>

<h1>Add a new driver record</h1>

<% form_for(@driver) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f %>

  <%= f.submit 'Add Driver', :class => "savebutton" %>
  <%= link_to 'Cancel', drivers_path, :method => 'get', :class => "closebutton"%>

<% end %>
