<% render :partial => 'sidebar' %>

<div id="controls">
    <%= link_to 'Back', @vehicle, :class => "back" %>
</div>

  <h1>Attachments for Vehicle <%=h @vehicle.registration_number %> :</h1>

  <%=  render :partial => "shared/attachments", :object => @vehicle.attachment_boxes  %>

  <p>
      <% form_for [@vehicle, AttachmentBox.new], :url => add_attachment_vehicle_path(@vehicle),:html => { :multipart => true } do |form| %>
        <%= error_messages_for :attachment %>
        <%= form.file_field :uploadedfile %> <%= form.submit "Upload" %>
      <% end %>
  </p>   
