<%= link_to 'Cancel', vehicles_path, :class => "closebutton", :style => "float:right;"  %>

<h1>Add a new vehicle</h1>

<% form_for(@vehicle) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f, :locals => { :mode => "new"} %>

  <%= f.submit 'Add Vehicle', :class => "savebutton" %>
  <%= link_to 'Cancel', vehicles_path, :method => 'get', :class => "closebutton"%>

<% end %>