<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>LogiCRM: <%= controller.action_name %></title>


  <%= stylesheet_link_tag 'blueprint/screen.css' %>
  <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'blueprint/ie.css' %>
  <![endif]-->

   <%= stylesheet_link_tag 'main' %>
   <%= stylesheet_link_tag 'tables' %>
  
  <%= stylesheet_link_tag 'pagination' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.6.custom.css' %>
  <%= stylesheet_link_tag 'jquery.cluetip.css' %>

  <%= javascript_include_tag 'prototype', 'controls', 'dragdrop','effects'%>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.6.custom.min.js','jquery.cookie', 'jquery.cluetip', 'application', 'buttons' %>
  <%= yield :head -%>
</head>

<body>
		<div class="container" id="main">

                        <div class="span-24 last" id="header">
                            <span id="status">
                                Signed in as <%= current_user_session.record.login %> |
                                <%= link_to 'Profile', edit_user_url(:current) if current_user() %> |
                                <%= link_to('Logout',  user_session_url(:current), :method => :delete) if current_user() %>
                            </span>
                             <h2>Fleet Management System</h2>
                        </div>

			<div class="span-24 last" id="menu">
                            <%=  render :partial => "shared/tabs"%>
                            <div class="span-24 last" id="spacer"></div>
			</div>

			<div class="span-24 last" id="content">
                                <% if !notice.nil? %>
                                  <p class="notice"><%= notice %></p>
                                <% end %>
                                <% if @content_for_sidebar_links_list %>
                                    <div class="span-4" id="left"><%= yield(:sidebar_links_list) %></div>
                                    <div class="span-19 last" id="right"><%=  yield %></div>
                                <% else %>
                                    <div class="span-23 last" id="right"><%= yield %></div>
                                <% end %>                              
			</div>

			<div class="span-24" id="footer">
                          <p>
                             <%= link_to "Zeto Technologies Pvt. Ltd.", "http://www.zetotech.com" %> &copy; 2010
                          </p>
			</div>
		</div>
</body>
</html>